<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi9DCLBEoyncN416W0v2ghu6tneP-e3lY</string>
	<key>GCM_SENDER_ID</key>
	<string>477442562518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nannyDriver</string>
	<key>PROJECT_ID</key>
	<string>autonanny-41178</string>
	<key>STORAGE_BUCKET</key>
	<string>autonanny-41178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477442562518:ios:895ca86646145b86186c77</string>
</dict>
</plist>